<a href="https://colab.research.google.com/github/amritnaruto/Natural-Language-Processing/blob/master/Amazon_fine_food_reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting our data

Amazon Fine Food Reviews

copy $\text{kaggle.json}$ into your google drive<br>
or just copy it into the colab file space<br>
which ever way you want.

If you do not have this file,<br>
go to your kaggle account<br>
and $\text{create new API token}$

Follow along the commands,<br>
you will understand what is gong on..

In [1]:
!pip install -q kaggle
!mkdir /root/.kaggle/

In [2]:
!cp /content/drive/My\ Drive/Datasets/kaggle.json /root/.kaggle/

# !cp < kaggle.json file path> /root/.kaggle

In the dataset page of Amazon Fine Food Reviews,<br>
beside the 'New Notebook' button<br>
click the options (three dots) and<br>
select 'Copy API Command'<br>

incase kaggle changes the layout, the option for api command would still be there somewhere.

In [3]:
!kaggle datasets download -d snap/amazon-fine-food-reviews

Downloading amazon-fine-food-reviews.zip to /content
100% 242M/242M [00:02<00:00, 163MB/s]
100% 242M/242M [00:02<00:00, 112MB/s]

In [4]:
!unzip amazon-fine-food-reviews.zip

Archive:  amazon-fine-food-reviews.zip
  inflating: Reviews.csv
  inflating: database.sqlite
  inflating: hashes.txt

And we have our data

In [5]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import accuracy_score, log_loss

from gensim.parsing.preprocessing import remove_stopwords
from gensim.utils import simple_preprocess
from gensim.parsing.porter import PorterStemmer
from gensim.models import Word2Vec

# Data preparation

We will work on simply classifying the each reviews as positive or negative based on the scores.

So we will only need the reviews column and the score column

## Let's take a look at the entire dataset

In [6]:
reviews_log = pd.read_csv('Reviews.csv')
reviews_log.head()

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...
4   5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 10 columns]

Let's look at a review..

In [7]:
reviews_log.iloc[0,-1]

'I have bought several of the Vitality canned dog food products and have found them all to be of good quality. The product looks more like a stew than a processed meat and it smells better. My Labrador is finicky and she appreciates this product better than  most.'

How does the score column look like?..

In [8]:
reviews_log['Score']

0         5
1         1
2         4
3         2
4         5
         ..
568449    5
568450    2
568451    5
568452    5
568453    5
Name: Score, Length: 568454, dtype: int64

## Taking out Reviews and Score into a separate dataframe

Now since this is a binary classification: positive, negative<br>

scores above 3 will be considered positive and ones below 3 as negative.. obviously..!!

First drop the columns with score of 3.. we won't need them

In [9]:
reviews_log.drop( reviews_log[reviews_log['Score'] == 3].index, inplace=True )

Converting score to 1s (for positive) and 0s (for negative)

In [10]:
reviews_log['Score'] = reviews_log['Score'].apply(lambda x: 1 if x > 3 else 0)

Now we create the dataset on which we will work

In [11]:
dataset = pd.DataFrame({'review': [], 'sentiment': []})
dataset['review'] = reviews_log['Text']
dataset['sentiment'] = reviews_log['Score']

dataset.head()

                                              review  sentiment
0  I have bought several of the Vitality canned d...          1
1  Product arrived labeled as Jumbo Salted Peanut...          0
2  This is a confection that has been around a fe...          1
3  If you are looking for the secret ingredient i...          0
4  Great taffy at a great price.  There was a wid...          1

## Converting text to numbers

More specifically convert words to vectors.

But before that, we need to clean our text

gensim provides all the necessary functions...

In [12]:
dataset['review'] = dataset['review'].apply(remove_stopwords)

dataset.head()

                                              review  sentiment
0  I bought Vitality canned dog food products goo...          1
1  Product arrived labeled Jumbo Salted Peanuts.....          0
2  This confection centuries. It light, pillowy c...          1
3  If looking secret ingredient Robitussin I beli...          0
4  Great taffy great price. There wide assortment...          1

gensim's simple_preprocess() tokenizes each review into a list of words<br>

It also removes punctuation marks

In [13]:
dataset['review'] = dataset['review'].apply(simple_preprocess)

dataset.head()

                                              review  sentiment
0  [bought, vitality, canned, dog, food, products...          1
1  [product, arrived, labeled, jumbo, salted, pea...          0
2  [this, confection, centuries, it, light, pillo...          1
3  [if, looking, secret, ingredient, robitussin, ...          0
4  [great, taffy, great, price, there, wide, asso...          1

Stemming

In [14]:
dataset['review'] = dataset['review'].apply(lambda x: [PorterStemmer().stem(w) for w in x] )

dataset.head()

                                              review  sentiment
0  [bought, vital, can, dog, food, product, good,...          1
1  [product, arriv, label, jumbo, salt, peanut, t...          0
2  [thi, confect, centuri, it, light, pillowi, ci...          1
3  [if, look, secret, ingredi, robitussin, believ...          0
4  [great, taffi, great, price, there, wide, asso...          1

As you can observe PorterStemmer didn't do that well..

It converted 'this' to 'thi',<br>
'arrives' to 'arriv', etc.

You can use gensim's or nltk's lemmatize instead.

Before we apply Word2Vec,<br>
it is necessary that we split the dataset now to train and test set<br>
to avoid information leak into our unobserved data

In [15]:
train_text, test_text, y_train, y_test = train_test_split(dataset['review'],
                                                    dataset['sentiment'],
                                                    stratify = dataset['sentiment'],
                                                    random_state=0)

print(train_text.shape)
print(test_text.shape)

(394360,)
(131454,)

Now we apply...

**min_count** sets the minimum count for each word necessary to be considered. If a word's occurance is less than min_count, then that word will not be vectorized. We will set that to 1. meh..

**size** is the dimensionality of the vector.

**window** sets the size of context.

**sg**: 0 for using CBOW, and 1 for Skip-gram

In [16]:
w2v_model = Word2Vec(train_text, min_count=1,
               size = 100, workers=3,
               window=3, sg=1)

w2v_model

## Final prep

our word2vec model is trained, and now we convert.

In [17]:
temp = train_text.apply(lambda x: np.mean([ w2v_model[token] for token in x ],
                                          axis=0))

temp

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:3335: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

323249    [0.25243348, 0.21213992, 0.032568213, -0.23740...
342801    [0.30880803, 0.024606204, -0.121111214, -0.008...
164441    [0.3022396, 0.085057326, -0.13120477, -0.08813...
423976    [0.18207915, 0.24881898, -0.15377955, -0.05449...
229980    [0.33945492, -0.14384131, 0.01150136, -0.05900...
                                ...
484657    [0.32042098, 0.008284028, -0.14173505, -0.1953...
154976    [0.23416626, -0.033135507, -0.106669135, -0.12...
363974    [0.2624597, -0.09991959, 0.030970657, 0.036036...
357675    [0.27868813, 0.0098297, -0.012811714, -0.15416...
443959    [0.3356177, 0.063156694, -0.2243333, -0.067290...
Name: review, Length: 394360, dtype: object

If you observe, this is a series..

A series with each element being a list of values..

We don't want this..<br> 
rather we want it to be a dataframe with multiple columns

First lets remove any nan values

In [18]:
temp[temp.isna()]

299605    NaN
378643    NaN
544869    NaN
233938    NaN
324249    NaN
388831    NaN
487863    NaN
188001    NaN
Name: review, dtype: object

In [19]:
v = np.mean(temp)
for i in temp[temp.isna()].index:
    temp.loc[i] = v

In [20]:
temp[temp.isna()]

Series([], Name: review, dtype: object)

Now we convert the given series into our prefered dataframe

In [21]:
X_train = pd.DataFrame.from_dict( dict(zip(temp.index, temp.values)),
                                 orient='index')

In [22]:
X_train.head()

              0         1         2   ...        97        98        99
323249  0.252433  0.212140  0.032568  ...  0.270396 -0.196323  0.473350
342801  0.308808  0.024606 -0.121111  ...  0.381155  0.037238  0.285413
164441  0.302240  0.085057 -0.131205  ...  0.251289 -0.051736  0.282075
423976  0.182079  0.248819 -0.153780  ...  0.258210  0.073270  0.317053
229980  0.339455 -0.143841  0.011501  ...  0.328849  0.140244  0.275698

[5 rows x 100 columns]

Yep.. this is what we want..

Now in the test set, there may be words which did not occur in the train set<br>

so such words won't occur in the word2vec vocabulary<br> 
and therefore cannot be vectorzed.

we will convert such words into a zero vector.

In [23]:
def w2v_func(x):
    try:
        return w2v_model[x]
    except:
        return np.zeros(100,)

temp = test_text.apply(lambda x: np.mean( [w2v_func(token) for token in x], 
                                         axis=0) )

for i in temp[temp.isna()].index:
    temp.loc[i] = v

X_test = pd.DataFrame.from_dict( dict(zip(temp.index, temp.values)), 
                                orient='index')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
X_test.head()

              0         1         2   ...        97        98        99
208568  0.294000 -0.068598 -0.010935  ...  0.283238  0.077414  0.277940
326959  0.176762  0.057403 -0.187187  ...  0.219570  0.043543  0.298795
292064  0.192817 -0.001591 -0.112183  ...  0.296124 -0.092636  0.322293
85577   0.184148  0.080792 -0.179845  ...  0.285905 -0.013367  0.226287
164229  0.308732  0.044122 -0.077944  ...  0.256984  0.218902  0.351517

[5 rows x 100 columns]

# Applying model

We simply use a Logistic Regression to see how it works

In [25]:
lr_cv = LogisticRegressionCV(solver='sag', n_jobs=-1, random_state=0)

lr_cv.fit(X_train, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='auto', n_jobs=-1, penalty='l2',
                     random_state=0, refit=True, scoring=None, solver='sag',
                     tol=0.0001, verbose=0)

The regularisation strength values used

In [26]:
lr_cv.Cs_

array([1.00000000e-04, 7.74263683e-04, 5.99484250e-03, 4.64158883e-02,
       3.59381366e-01, 2.78255940e+00, 2.15443469e+01, 1.66810054e+02,
       1.29154967e+03, 1.00000000e+04])

The best weight vector obtained.

In [27]:
lr_cv.coef_

array([[ 2.67722468,  4.33575377, -2.44593323,  1.05756641,  0.81989912,
         2.12842061, -6.31270017, -2.46614167, -2.05674866, -0.49966624,
        -0.30189814, -3.13809181, -1.23617525, -5.81015876,  3.33279935,
        -2.76042927,  0.65482648,  0.97269735,  1.54153071,  2.75857937,
        -2.39286875,  3.7123978 ,  6.35282296,  1.12890002, -2.95380791,
        -1.78083075, -0.43175794,  0.21194503,  0.30432438, -2.89556041,
         0.47894346, -0.34042328,  2.38409915,  2.77873428,  1.48143093,
         4.01556727, -2.35166644,  2.97706741,  4.28078537, -6.6557546 ,
         0.77195948, -2.34034622,  1.3317324 , -2.8601829 , -2.24085788,
        -1.35986042,  1.50596747, -2.17347994,  1.180456  ,  3.23394088,
        -2.42485462,  0.85102209, -3.64011884,  1.88894153, -1.15360687,
        -2.32806724,  0.20211164,  0.6532244 , -1.92585417, -3.14224459,
        -2.99210761, -4.74444027,  1.29856326, -0.05937195,  0.15642827,
        -0.65446181,  0.21329185,  1.47103112,  0.60468947,  0.66610703,
        -1.05774917,  0.23339422,  2.09943944,  0.75158338, -0.77358215,
         1.23940388, -1.81132852,  3.07134334, -0.7689584 ,  0.89068193,
        -1.49857056, -0.35534654,  5.40630054, -1.6916984 ,  0.53870046,
        -3.36577828,  6.91734006,  2.26238271,  2.23024051,  0.37071362,
         2.12133806,  2.54754551,  0.28330673, -1.06542213, -2.37762636,
        -1.49792095,  0.81331633, -2.08488738, -3.06109154,  4.43884825]])

In [28]:
y_pred = lr_cv.predict(X_test)
y_pred_proba = lr_cv.predict_proba(X_test)

print(accuracy_score(y_test, y_pred))
print(log_loss(y_test, y_pred_proba))

0.9083329529721423
0.22638783146485286

Hmmmm.. not bad for a casual run..!!